<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d %-5p %C: %m%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=blue bold, TRACE=blue}"/>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/ember-client.log" filePattern="logs/ember-client_yyyyMMdd">
            <PatternLayout pattern="%d %-5p %l: %m%n"/>
            <SizeBasedTriggeringPolicy size="5MB"/>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="all">
            <appender-ref ref="RollingFile"/>
        </root>
        <root level="info">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>